<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="ITAD" value="https://lvvwd.pkgs.visualstudio.com/_packaging/ITAD/nuget/v3/index.json" />
    <add key="ITAD_ThirdParty" value="https://lvvwd.pkgs.visualstudio.com/_packaging/ITAD_ThirdParty/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
