@page
@model LVVWDWebGoat.Pages.A04InsecureDesignModel
@{
}
<h1>Log In</h1>
<form method="post">
    <span>Username:&nbsp;</span><input name="username" type="text"/>
    <br/>
    <span>Password:&nbsp;</span><input name="password" type="password"/>
    <br/>
    <a href="A04ForgotPassword">Forgot Password</a>
    <br/>
    <input type="submit"/>
    <br/>
</form>