@page
@model LVVWDWebGoat.Pages.AdminModel
@{
}

<div class="row">
    <h1>Welcome to the Admin page. You can only be here if you are logged in with the admin account.</h1>

</div>
<div class="row">
    

</div>
