@page
@model LVVWDWebGoat.Pages.GoatHomeModel
@{
    ViewData["Title"] = "Goat Home Page";

}

<div class="row text-center mt-5">
    <h1>
        Welcome @ViewData["user"] to the Goat Home Page
    </h1>
</div>
