@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the LVVWD WebGoat application.</h1>
    <h3>This application is inherently unsecure.</h3>
    <p>If you are interested in logging in, the user name is 'billy' and the password is 'goat' Please login <a href="/login">here</a>.</p>

    <p>It's @ViewData["TheDate"]</p>

</div>
