@page
@model LVVWDWebGoat.Pages.LogoutModel
@{
     ViewData["Title"] = "Logout";

}

<div class="row text-center mt-5">
    <h1>
       You are now logged out. To log in again please click this link.
       
    </h1>
    <a href="/login">Login</a>
</div>
